*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s ease-out;
    font-family: 'Roboto Condensed', sans-serif
}
body{
    background: #eee;
}
.pail{
    background-color: rgb(226, 66, 151);
}

.container{
    position: relative;
   
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 7%;
    position: relative;
    z-index: 1000;
    /* background-color: white; */
    border-radius: 5px; 
    box-shadow: 0 .5rem  1rem rgba(0, 0, 0, .2);
    font-family: 'Raleway', sans-serif;
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 10; */
}
header .logo{
    font-size: 44px;
    color: #5d5a5a;;
    font-family: 'Permanent Marker', cursive;
}
header .logo span{
     color:  white;
     font-family: 'Raleway', sans-serif;
}
header #menu{
    display: none; 
    padding: 10px 10px;
    border: 2px solid rgba(0, 0, 0,.2);
    font-size: 20px;
    border-radius: 5px;
    color: #5d5a5a;;
}
header .navbar a{
    margin-left: 20px;
    font-size: 25px;
    color: #272323;
    font-family:Didot, serif ;
}
header .page1 a{
    font-size: 20px;
    color:  rgb(226, 66, 151);

}
.barre{
    width: 400px;
    background-color: white;
    border-radius: 30px;
    
}
.barre input{
    width: 350px;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 30px;
    background-color: transparent;
    font-size: 25px;
}
.barre i{
    font-size: 1.3rem;
    color: white;
    border: 1px solid rgb(226, 66, 151);
    padding: 7px;
    border-radius: 50%;
    background-color:rgb(226, 66, 151); ;

} 

header .page1 i{
    padding: 15px;
    font-size: 1.5rem;
    color: #FFF;
}
header .navbar a:hover{
    background-color:rgb(226, 66, 151); 
    padding: 15px;
    color: #FFF;
    border-radius: 4px;
}

@media (max-width:768px) {
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #FFF;
        border-top: 1px solid rgba(0, 0, 0,.2);
        border-bottom: 1px solid rgba(0, 0, 0,.2); 
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); 

    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%,  0 100% );
    } 
    header .navbar a{
        font-size: 30px;
        display: block;
        text-align: center; 
        margin: 2rem 0;
        color: rgb(146, 142, 142);
    }

    header #menu{
        display: initial;
    }
    
    
}


.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid rgb(226, 66, 151);
    color:rgb(226, 66, 151);
    cursor: pointer;
    background:white;
}

.btn:hover{
    background:rgb(226, 66, 151);
    color:#fff;
}



.titre {
    font-size:25px;
    text-align: center;
    color: black;
    padding: 3rem 0;
    padding-bottom: 3rem;


}
.titre span{
    background-color: rgb(226, 66, 151);
    padding:.5rem 3rem;
    color:white;
    clip-path: polygon(100% 0%, 93% 50%, 100% 99%,0% 100%,7% 50%, 0% 0%);
}
.liste{
    padding:1rem 9%;
}
.liste .liste-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.liste .liste-container .legumes{
    padding:2rem 2rem; 
    border-radius: .5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    background-color: #FFF;
    outline: 1px solid rgba(0, 0, 0, .1);
    outline-offset: -1rem;
    text-align: center;
}
.liste .liste-container .legumes:hover{
    outline: .2rem solid rgb(226, 66, 151);
    outline-offset: 0rem;
}
.liste .liste-container .legumes img{
    height:10rem;
    margin: 1rem 0;
    background: transparent;
    /* height: 500px; */
}

.liste .liste-container .legumes h3{
    color: rgb(86, 82, 82);
    font-size: 1.5rem;
    line-height: 1.8rem;
}


.liste .liste-container .legumes .price{
    font-size: 1.5rem;
    color:#666;
    padding:.5rem 0;
}

.liste .liste-container .legumes .stars i{
    font-size: 1.7rem;
    color:rgb(226, 66, 151);
    padding:.5rem 0;
}






.pied{
    padding:1rem 9%;
    margin-top: 50px;
    height: 400px;
    width: 100%;
    background-color:rgb(240, 144, 195) ;
    display: flex;
    /* padding: 100px; */
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.boxe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* line-height: 2.4rem; */
}
.boxe h3{
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 30px;
    color: #373535;
}
.boxe p{
    text-align: justify;
    font-family:Didot, serif ;
    color: #5d5a5a;
}

.pied .boxe .share a{
    height:3.5rem ;
    width: 3rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: black;
    margin-right:2rem ;
    background-color: #eee;
    text-align: center;
    margin-top: 30px;
    font-family:Didot, serif ;
}

.pied .boxe .share a:hover{
    background: rgb(226, 66, 151);
    color: #fff;
}
.pied .boxe .links:hover{
    color:rgb(226, 66, 151) ;
}
h4{
    font-size: 30px;
    color: #666;
    font-size: 2.5rem;
    padding:1rem 0;

}
.boxe a{
    font-size: 20px;
    line-height: 40px;
    color: #FFF;
    text-align: center;
    transition: all .2s ease-out;
    /* padding-left: 20px; */
}  

.bas{
    width: 100%;
    height: 70px;
    background-color:rgb(226, 66, 151);
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    bottom:0 ;
}
.bas1{
   color: #666;
}
.bas2 {
    color: white; 
 }
.bas2 a{
   color: white; 
}
.bas2 a:hover{
    color: black;
}
