*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
  }
  body{
    width: 100%;
  }
  .container{
      background: rgb(199, 195, 195);
  }
  .navbar{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100px;
      font-family: 'Raleway', sans-serif;
  }
  .logo a{
      font-family: 'Permanent Marker', cursive;
      color: #5d5a5a;
      font-size: 3rem;
  }
  .logo a span{
      color: rgb(226, 66, 151);
  }
  .liens{
      display: inline-flex;
  }
  .liens .lien{
      list-style-type: none;
      margin-left: 20px;
  }
  .liens .lien a{
      color: #5d5a5a;
      padding: 15px 30px;
      font-size: 20px; 
  }
  .liens .lien a:hover{
      background: rgb(226, 66, 151);
      border-radius: 1rem;
      color: white;
      transition: all 0.2s ease-in;
  }
  .sous-menu .liens{
      position: absolute;
      display: none;
      background: rgb(199, 195, 195);
      width: 250px;
      text-align: center;
  }
  .lien-deroulant:hover .sous-menu .liens{
      display: block;
      top: 75px;
  }
  .sous-menu .liens .lien{
      margin: 20px 0;
  }
  
  .megamenu{
      position: absolute;
      background: #555;
      width: 80%;
      top: 65px;
      left: 10%;
      display: none;
      z-index: 100;
  }
  
  .lien-mega:hover .megamenu{
      display: block;
      transition: all 0.3s ease-in;
      top: 90px;
  }
  
  .container{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
  }
  .liens .lien .categorie{
      font-size: 15px;
      
  }
  
  .colone ul{
      display: block;
  }
  
  .colone ul li{
      margin: 20px 0;
  }
  
  .colone .logo{
      height: 200px;
      width: 200px;
      margin: auto;
      border-radius: 1rem;
      border: solid 3px #f5f5f5;
  }
  
  .colone h2{
      font-size: 1.2rem;
  }
  .page1 a,i{
      margin-left: 100px;
      padding: 15px;
      font-size: 25px;
      color: rgb(226, 66, 151);
  
  }
  .page1 .menu{
     display: none; 
  } 




.corps{
  width: 100%;
  height: 700px;
  display: flex;
  background-color:rgb(226, 66, 151) ;
 
}
.partie1{
  width: 50%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px 10% 30px 70px;
  background-color:rgb(226, 66, 151) ;
}
.partie2{
  width: 50%;
  height: 700px;
  /* background-color: black; */
}
.partie2 img{
  width: 100%;
  height: 60vh;
  background-color: transparent;
  object-fit: contain; 
}



.partie1 h1{
  width: 400px;
  font-size: 60px
}
.partie1 p{
  width: 500px;
  font-size: 20px;

}
.recherche{
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  width: 100% ;
}

.recherche input{
  font-size: 30px;
  height: 70px;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  width: 100% ;
}
.recherche i{
  padding: 25px;
  border-radius: 50%;
  background-color: rgb(226, 66, 151);
  color: white;
  font-size: 20px;
  font-weight: 900;

}


@media  (max-width: 700px){
  .corps{
      flex-direction: column;
      height: 100vh;
  }
  .partie1{
     width: 100%;
  }
  .partie2{
      display: block;
      order: 1;
      width: 100%;
  }
  .partie2 img{
      width: 100%;
  }
}

  




  .carousel {
    width: 90%;
    margin: 0 auto;
    z-index: 1;
    border: 1px solid black;
  }
  .mesdiv{
    height: 500px;
    border: 1px solid red;
  }
  
  .imgs-div {
    width:100%;
    height: 30vh;
    margin: 0 15px;
    border: 1px solid black;

  }
  
  .div5 {
    background: url("./images/p9.jpg") center no-repeat;
    background-size: cover;
  }
  
  .div6 {
    background: url("./images/p10.jpg") center no-repeat;
    background-size: cover;
  }
  
  .div7 {
    background: url("./images/p11.jpg") center no-repeat;
    background-size: cover;
  }
  
  .div8 {
    background: url("./images/p12.jpg") center no-repeat;
    background-size: cover;
  }
  .div9 {
    background: url("./images/p13.jpg") center no-repeat;
    background-size: cover;
  }
  
  .div10 {
    background: url("./images/p14.jpg") center no-repeat;
    background-size: cover;
  }
  
  .div11 {
    background: url("./images/p15.jpg") center no-repeat;
    background-size: cover;
  }
  
  .div12 {
    background: url("./images/p3.jpg") center no-repeat;
    background-size: cover;
}









h2{
  
    padding:  0 30px 30px 100px;
    font-size: 40px;
    color: #555;
}

 .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
    padding:0px 5% 10px 5%;
}
 .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    /* text-align: center;
    padding:30px 20px; */
    display: flex;
}


 .box-container .box img{
    height: 330px;
    width: 100%;
    object-fit: cover;
    border-radius:10px;
}

 .boutton{
  margin-top: 40px;
  margin-left: 85%;
  margin-bottom: 20px;
}  
.boutton a{
  color:white ;
  background-color:rgb(226, 66, 151); 
  font-size: 30px;
  width: 260px; 
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  
}
.boutton :hover{
  color:rgb(226, 66, 151) ;
  background-color: #fff;
  border: 1px solid rgb(226, 66, 151);
}





.produits{
  width: 300px;
  box-shadow: 2px 2px 30px rgba(0,0,0,.2) ; 
  border-radius: 10px ; 
  /* overflow: hidden; */
 
  margin-left: 5%;
}
.prd1{
  height: 450px; 
  position: relative;
  letter-spacing: 0.5px;
     
}
.prd1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box ;
} 
.details{
  width: 100%;
  display: flex;
  justify-content: space-between ;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box ;
}
.type a{
  color:#222;
   margin:5Px 0px;
   font-weight: 700; 
   letter-spacing: 0.5px;
   padding-right: 8px;
   font-size: 30px;
} 
.price{
  color: #333;
  font-weight: 600 ;
  font-family: poppins;
  letter-spacing: 0.5px;
  font-size: 1.1rem ; 
}
.overlay{
  position: absolute ;
  top: 50% ;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background-color: white ;
  /* opacity: 0.3; */
  /* background-image: url("./images/p13.jpg"); */
  display: flex;
  justify-content: center;
  align-items: center ;

 
} 
.buy{
  width: 200px ;
  height: 50px ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 20px;
  color: #252525;
  font-weight: 700;
  letter-spacing: 1px ;
  font-family: calibri;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgba(0,0,0,.2) ; 


}
.buy:hover{
  color: #fff;
  background-color: red;
  transition:  all ease 0.3s  ;
  font-size:20px ;
}
.overlay{
  visibility: hidden;
}
.prd1:hover .overlay{
  visibility: visible;
  animation: fade 0.5s ;
}
 
@keyframes fade{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1 ;
  }
}

.premier{

}



