<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/admin.css">
    <title>Document</title>
</head>
<body>
    <div class="pail">
        <div class="container">
            <header>
                <a href="/" class="logo">Tout<span>Naturel</span></a>
                <div  id ="menu" class="fas fa-bars"></div>
                <nav class="navbar">
                    <a href="/">Accueil</a>
                    <a href="">Contact</a>
                    <a href="/liste1">Categories</a>
                    <a href="">Contact</a>
                </nav>
                <div class="barre">
                    <input type="text" placeholder="search">
                    <i class="fas fa-search"></i>
                </div>
                <div class="page1"><a href="/conn"><i class="fas fa-user espace"></i></a></div>
                <div class="page1"><a href="/panier"><i class="fas fa-shopping-cart"></i></a></div>
            </header>
        </div>
    </div>
    <div class="admin">
        <div class="gauche">
            <nav>
                <ul><li><a href="">Liste des articles</a></li></ul>
                <ul><li><a href="">Liste des articles</a></li></ul>
                <ul><li><a href="">Liste des articles</a></li></ul>
                <ul><li><a href="">Liste des articles</a></li></ul>
            </nav>
        </div>
        <div class="droite">
            
        </div>
    </div>
    <script src="https://kit.fontawesome.com/6b4a8ac2d2.js" crossorigin="anonymous"></script>
</body>
</html>