<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/admin.css">
    <title>Document</title>
</head>
<body>
    <div class="pail">
        <div class="container">
            <header>
                <a href="/" class="logo">Tout<span>Naturel</span></a>
                <div  id ="menu" class="fas fa-bars"></div>
                <nav class="navbar">
                    <a href="/">Accueil</a>
                    <a href="">Contact</a>
                    <a href="/liste1">Categories</a>
                    <a href="">Contact</a>
                </nav>
                <div class="barre">
                    <input type="text" placeholder="search">
                    <i class="fas fa-search"></i>
                </div>
                <div class="page1"><a href="/conn"><i class="fas fa-user espace"></i></a></div>
                <div class="page1"><a href="/panier"><i class="fas fa-shopping-cart"></i></a></div>
            </header>
        </div>
    </div>
    <div class="admin">
        <div class="espaces"></div>
        <div class="gauche">
            <nav>
                <ul>
                    <li><a href="">Liste des articles</a></li>
                    <li>
                        <a href="" class=" ">Liste des articles
                            <span class="fas fa-caret-down first"></span>
                        </a>
                        <ul class="feat-shows ">
                            <li><a href="">categories</a></li>
                            <li><a href="">categories</a></li>
                            <li><a href="">categories</a></li>
                        </ul>
                    </li>
                    <li><a href="">Liste des articles</a></li>
                </ul>
                
                <!-- <ul>
                    <li>
                        <a href="" class="liste">Liste des articles
                            <span class="fas fa-caret-down first"></span>
                        </a>
                        <ul class="diff">
                            <li><a href="">categories</a></li>
                            <li><a href="">categories</a></li>
                            <li><a href="">categories</a></li>
                        </ul>
                    </li>
                </ul>
                <ul><li><a href="">Liste des articles</a></li></ul>
                <ul><li><a href="">Liste des articles</a></li></ul> -->
            </nav>
        </div>
        <div class="droite">
            <div class="ajout">
                <button   onclick="modale()">Ajouter un article</button>
            </div>
            <table class="tableau">
                <thead>
                    <tr>
                        <th>Images</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>description</th>
                        <th colspan="3" style="text-align: center; font-size: 30px;">Actions</th>
                    </tr>
                </thead>
                <tbody>



                    <% if (resultat) { %>
                        <% resultat.forEach(function(resultat){ %>
                            <tr>
                                <td><img src="<%= resultat.image_Article %>" class="image" alt=""></td>
                                <td><%= resultat.nomArticle %></td>
                                <td><%= resultat.prixArticle %></td>
                                <td><%= resultat.description %></td>
                            <!-- <td><button class="btn1"  onclick="modale()">Ajouter</button></td> -->
                            <td><button class="btn2"  onclick="modale()">Modifier</button></td>
                            <td><a class="btn3" href="">Supprimer</a></td>
                                
                            </tr>
                        <% }); %>
                    <% } %> 
                    
                     <!-- <tr>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>

                        <td><button class="btn1"  onclick="modale()">Ajouter</button></td>
                        <td><button class="btn2"  onclick="modale()">Modifier</button></td>
                        <td> <a class="btn3" href="">Supprimer</a></td>
                        
                    </tr> -->
                    <!--
                    <tr>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                       
                        <td><button class="btn1"  onclick="modale()">Ajouter</button></td>
                        <td><button class="btn2"  onclick="modale()">Modifier</button></td>
                        <td> <a class="btn3" href="">Supprimer</a></td>
                        
                    </tr>
                    <tr>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                    
                        <td><button class="btn1"  onclick="modale()">Ajouter</button></td>
                        <td><button class="btn2"  onclick="modale()">Modifier</button></td>
                        <td> <a class="btn3" href="">Supprimer</a></td>
                        
                    </tr>
                    <tr>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        
                        <td><button class="btn1"  onclick="modale()">Ajouter</button></td>
                        <td><button class="btn2"  onclick="modale()">Modifier</button></td>
                        <td> <a class="btn3" href="">Supprimer</a></td>
                        
                    </tr>
                    <tr>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                       
                       <td><button class="btn1"  onclick="modale()">Ajouter</button></td>
                       <td><button class="btn2"  onclick="modale()">Modifier</button></td>
                        <td> <a class="btn3" href="">Supprimer</a></td>
                        
                    </tr>
                    <tr>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        
                        <td><button class="btn1"  onclick="modale()">Ajouter</button></td>
                        <td><button class="btn2"  onclick="modale()">Ajouter</button></td>
                        <td> <a class="btn3" href="">Supprimer</a></td>
                        
                    </tr>
                    <tr>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                       
                        <td><button class="btn1"  onclick="modale()">Ajouter</button></td>
                        <td><button class="btn2"  onclick="modale()">Ajouter</button></td>
                        <td> <a class="btn3" href="" onclick="">Supprimer</a></td>
                        
                    </tr>
                    <tr>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                        <td>azertyu</td>
                       
                        <td><button class="btn1"  onclick="modale()">Ajouter</button></td>
                       <!--<td><button class="btn1"  onclick="modale()">Ajouter</button></td> -->
                       <!-- <td><button class="btn2"  onclick="modale()">Ajouter</button></td>
                       <td> <a class="btn3" href="" >Supprimer</a></td>
                    </tr> --> 
                </tbody>
            </table>





            <div class="monmodal">
                <div class="modal">
                  <div class="modalité">
                    <h2>Ajouter vos articles</h2>
                    <button onclick="fermer()"><i class="fas fa-times"></i></button>
                  </div>
                  <hr>
                  
                  <form action="/admin" method="post" enctype="multipart/form-data">
                    <select name="id_categorie" id="">
                        <option value="1">legumes</option>
                        <option value="2">fruits</option>
                        <option value="3">produits laitiers</option>
                        <option value="4">viande fraîche</option>
                    </select>
                    <div class="modal1">
                       
                        <div>
                            <input type="text"  name ="nomArticle" id="nom" placeholder="nom de l'article">
                        </div>
                        <div>
                            <input type="number"  name ="prixArticle" id="prix" placeholder="le prix de l'article">
                        </div>
                        <div>
                            <div><label for="">Date Mise à Jour: </label></div>
                            <input type="date"  name ="date_miseArticle" id="date" placeholder="date de mise à jour">
                        </div>
                        <div>
                            <div><label for="">Date Ajout: </label></div>
                            <input type="date"  name ="date_ajoutArticle" id="date" placeholder="date d'ajout">
                        </div>
                    </div>

                    <textarea name="description" id="" cols="76" rows="10"  placeholder="la descrption de l'article">

                    </textarea>
                    <br>
                    <div class="modal2">
                      <label class="custom-file-upload">
                        <input type="file" id="telecharge" name="image_Article"/>
                        <i class="fa fa-cloud-upload"></i> veuillez telecharger une image
                    </label>
                    </div><br><br>
                   <!-- <a href="" type="submit" >Envoyer</a> -->
                   <button class="btn">Envoyer</button>
                  </form>
                </div> 
            </div>
        </div>
    </div>
    <script>

        $('.liste-btn  ').click(function(){
            $('.gauche nav ul .feat-shows').toggleClass("shows");
            $('.gauche nav ul .first').toggleClass("rotate");

        });
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/6b4a8ac2d2.js" crossorigin="anonymous"></script>
    <script src="../public/js/admin.js"></script>
</body>
</html>



