<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/commande.css">
    <title>Document</title>
</head>
<body>
    <div class="pail">
        <div class="container">
            <header>
                <a href="/" class="logo">Tout<span>Naturel</span></a>
                <div  id ="menu" class="fas fa-bars"></div>
                <nav class="navbar">
                    <a href="/">Accueil</a>
                    <a href="">Contact</a>
                    <a href="/liste1">Categories</a>
                    <a href="">Contact</a>
                </nav>
                <div class="barre">
                    <input type="text" placeholder="search">
                    <i class="fas fa-search"></i>
                </div>
                <div class="page1"><a href="/conn"><i class="fas fa-user espace"></i></a></div>
                <div class="page1"><a href="/panier"><i class="fas fa-shopping-cart"></i></a></div>
            </header>
        </div>
    </div>
    <div class="final">
        <h3>FINALISATION DE LA COMMANDE</h3>
        <h3>RÉSUMÉ</h3>
    </div>
    <div class="commande">
        
        <div class="commande1">
           <div class="haut">
            <i class="fas fa-check-circle"></i>
            <span>1.ADRESSE</span> 
           </div>

           <div class="formulaire">
               <form action="">
                    <div class="input-box">
                        <div class="box">
                            <label for="">Prenom *</label>
                            <input type="text" placeholder="votre prenom">
                        </div>
                        <div class="box">
                            <label for="">nom *</label>
                            <input type="text" placeholder="votre prenom">
                        </div>
                    </div>
                    <div class="input-box1">
                        <label for="">Numéro de téléphone mobile *</label>
                        <div class="bose">
                            <p>+255</p>
                            <input type="text" placeholder="votre numero de telephone">
                        </div>
                    </div>
                    <div  class="input-box2">
                        <label for="">Adresse *</label>
                        <textarea name="" id="" cols="100" rows="10"></textarea>
                    </div>
                    <div class="input-box3">
                        <label for="">Ville*</label>
                        <select name="" id="">
                            <option value="">Abidjan</option>
                            <option value="">Abidjan</option>
                            <option value="">Abidjan</option>
                            <option value="">Abidjan</option>
                            <option value="">Abidjan</option>
                            <option value="">Abidjan</option>
                        </select>
                    </div>
                
                        <a href="" class="btn"> ENREGISTRER</a>
                    
               </form>
           </div>















        </div>
        <hr>
        <div class="commande2">
            <div class="com1">
                <span>VOTRE COMMANDE (1 article)</span> 
            </div>
            <div class="com2">
                <img src="../public/images/m1.png" alt="">
                <h3>Banane Douce</h3>
                <h4>2,400 FCFA</h4>
                <p>quantité:<span>1</span></p>
            </div>
            <div class="com3">
                <h4>Total:</h4>
                <p>2,400 FCFA</p>
            </div>
            
                <a href="/panier" class="lien"> RETOUR AU PANIER</a>
            
        </div>
    </div>




    <footer class="pied">


        <div class="boxe">
            <h3> Tout Naturel</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
            </p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="boxe">
            <h3>contact info</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> + 255 22 09 09 98 97 61 </a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> + 255  22 22 24 33 33 88 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i>      toutnaturel@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Côte d'ivoire, Abidjan-4004 </a>
        </div>
        <div class="boxe">
            <h3>Liens rapides</h3>
            <a href="#" class="links"> Accueil </a>
            <a href="#" class="links"> Contact </a>
            <a href="#" class="links"> Categories </a>
            <a href="#" class="links"> Contact </a>
        </div>
    </footer>
    <div class="bas">
        <div class="bas1">Frutta Verde © 2022 All Rights Reserved</div>
        <div class="bas2">
            <a href="">Privacy Policy</a> |
            <a href="">Terms & Conditions</a> 
        </div>
    </div>




    <script src="https://kit.fontawesome.com/6b4a8ac2d2.js" crossorigin="anonymous"></script>
</body>
</html>