<!DOCTYPE html>
<html>
<head>
	<title>page de connexion</title>
	<link rel="stylesheet" type="text/css" href="conn.css">
	<script src="https://kit.fontawesome.com/6b4a8ac2d2.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../public/css/conn.css">
</head>
<body>


<div class="container1" id="container1">
	<div class="form-container1 sign-up-container1">
		<form action="#">
			<h1>Inscription</h1>
			<div class="social-container1">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>utilisez votre email pour vous inscrire</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>Inscription</button>
		</form>
	</div>
	<div class="form-container1 sign-in-container1">
		<form action="#">
			<h1>Connexion</h1>
			<div class="social-container1">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>utilisez votre compte</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="#">Mot de passe oublié?</a>
			<button>Connexion</button>
		</form>
	</div>
	<div class="overlay-container1">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bienvenue sur notre site</h1>
				<p>Pour rester en contact avec nous, veuillez vous connecter avec vos informations personnelles</p>
				<button class="ghost" id="signIn">Connexion</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Salut!!</h1>
				<p>Entrez vos données personnelles et commencez votre voyage avec nous</p>
				<button class="ghost" id="signUp">Inscription</button>
			</div>
		</div>
	</div>
</div>
<script  src="../public/js/conn.js"></script>
</body>
</html>