<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./mm.css"> -->
    <link rel="stylesheet" href="../public/css/liste2.css">
    <title>Document</title>
</head>
<body>
    <div class="pail">
        <div class="container">
            <header>
                <a href="/" class="logo">Tout<span>Naturel</span></a>
                <div  id ="menu" class="fas fa-bars"></div>
                <nav class="navbar">
                    <a href="/">Accueil</a>
                    <a href="">Contact</a>
                    <a href="/liste1">Categories</a>
                    <a href="">Contact</a>
                </nav>
                <div class="barre">
                    <input type="text" placeholder="search">
                    <i class="fas fa-search"></i>
                </div>
                <div class="page1"><a href="/conn"><i class="fas fa-user espace"></i></a></div>
                <div class="page1"><a href="/panier"><i class="fas fa-shopping-cart"></i></a></div>
            </header>
        </div>
    </div>
    <div class="titre">
        <h1> Liste des <span>Fruits</span></h1>
    </div>

    <div class="liste">
        <div class="liste-container">
            <div class="legumes">
                <img src="../public/encore/ss1.png" alt="">
                <h3>Carambole</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/images/pon.png" alt="">
                <h3>Grenade</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/encore/ss.png" alt="">
                <h3>Aronia</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/images/c1.png" alt="">
                <h3>legumes</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/images/citron.png" alt="">
                <h3>Citron</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/encore/product-6.png" alt="">
                <h3>Avocat</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/encore/product1.png" alt="">
                <h3>Orange</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/encore/passion.png" alt="">
                <h3>Passion</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/encore/raisins.png" alt="">
                <h3>Raisins</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/encore/mangue.png" alt="">
                <h3>Mangue</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/encore/fraise.png" alt="">
                <h3>Fraise</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/encore/cassis.png" alt="">
                <h3>Cassis</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/encore/poire.png" alt="">
                <h3>Poire</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/encore/ananas.png" alt="">
                <h3>Ananas</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/encore/product-8.png" alt="">
                <h3>legumes</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/images/m1.png" alt="">
                <h3>Banane</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/encore/madarine.png" alt="">
                <h3>Mandarine</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
            <div class="legumes">
                <img src="../public/encore/mousse.png" alt="">
                <h3>Pamplemousse</h3>
                <div class="price">  500f cfa - 1000f cfa </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                <a href="/details" class="btn">Ajouter au panier</a>
            </div>
        </div>
    </div>

    

    <footer class="pied">


        <div class="boxe">
            <h3> Tout Naturel</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
            </p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="boxe">
            <h3>contact info</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> + 255 22 09 09 98 97 61 </a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> + 255  22 22 24 33 33 88 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i>      toutnaturel@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Côte d'ivoire, Abidjan-4004 </a>
        </div>
        <div class="boxe">
            <h3>Liens rapides</h3>
            <a href="#" class="links"> Accueil </a>
            <a href="#" class="links"> Contact </a>
            <a href="#" class="links"> Categories </a>
            <a href="#" class="links"> Contact </a>
        </div>
    </footer>

    <div class="bas">
        <div class="bas1">Frutta Verde © 2022 All Rights Reserved</div>
        <div class="bas2">
            <a href="">Privacy Policy</a> |
            <a href="">Terms & Conditions</a> 
        </div>
    </div>

    <script src="https://kit.fontawesome.com/6b4a8ac2d2.js" crossorigin="anonymous"></script>
    <script src="../public/js/mm.js"></script>
</body>
</html>


<!-- <i class="fas fa-shopping-basket"></i> -->