<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/panier.css">
    <title>Document</title>
</head>
<body>
   <!-- header-->
    <div class="pail">
        <div class="container">
            <header>
                <a href="/" class="logo">Tout<span>Naturel</span></a>
                <div  id ="menu" class="fas fa-bars"></div>
                <nav class="navbar">
                    <a href="/">Accueil</a>
                    <a href="">Contact</a>
                    <a href="/liste1">Categories</a>
                    <a href="">Contact</a>
                </nav>
                <div class="barre">
                    <input type="text" placeholder="search">
                    <i class="fas fa-search"></i>
                </div>
                <div class="page1"><a href="/conn"><i class="fas fa-user espace"></i></a></div>
                <div class="page1"><a href="/panier"><i class="fas fa-shopping-cart"></i></a></div>
            </header>
        </div>
    </div>
      <!--  fin header-->

        <!-- section panier-->
    <div class="panier">
        <div class="panier1">
            <img src="../public/encore/ananas.png" alt="">
            <h4>Ananas</h4>
            <input type="number" value="1">
            <p>1000f cfa</p>
            <i class="fas fa-trash-alt"></i>
        </div>
        <div class="panier2">
            
                <div class="fac">
                    <p> 1 article </p>
                    <p>1000f cfa</p>
                </div>
                <div class="fac">
                    <p> Livraison </p>
                    <p>Retrait Boutique</p>
                </div>
                <div class="fac">
                    <a href="">Avez vous un code de reduction?</a>
                </div>
                <div class="fac">
                    <p> Total (HT) </p>
                    <p>1000f cfa</p>
                </div>

            <a href="/commande" class="btn">Commander</a>
           
        </div>
        
    </div>
    <a href="/" class="commande">Continuer les achats</a>



    <footer class="pied">


        <div class="boxe">
            <h3> Tout Naturel</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.
            </p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="boxe">
            <h3>contact info</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> + 255 22 09 09 98 97 61 </a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> + 255  22 22 24 33 33 88 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i>      toutnaturel@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Côte d'ivoire, Abidjan-4004 </a>
        </div>
        <div class="boxe">
            <h3>Liens rapides</h3>
            <a href="#" class="links"> Accueil </a>
            <a href="#" class="links"> Contact </a>
            <a href="#" class="links"> Categories </a>
            <a href="#" class="links"> Contact </a>
        </div>
    </footer>
    <div class="bas">
        <div class="bas1">Frutta Verde © 2022 All Rights Reserved</div>
        <div class="bas2">
            <a href="">Privacy Policy</a> |
            <a href="">Terms & Conditions</a> 
        </div>
    </div>
    <script src="https://kit.fontawesome.com/6b4a8ac2d2.js" crossorigin="anonymous"></script>
</body>
</html>


